.slide {
  position: relative;
  height: 480px;
  overflow: hidden;
  padding: 0;
}

.slide img {
  max-width: 140vw;
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin: -12vw -21vw;
}

.slide img.active {
  opacity: 1;
}
